<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EpiTime Staging.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>EpiTime.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EpiTimeWidget Staging.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>EpiTimeWidget.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D203A8981A8611E500DD280E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D22839E51A973D24001DEB27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D23BED3619E32823000FF210</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D23BED4F19E32823000FF210</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D23BED7919E328DA000FF210</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2EE37391A894CC100E70651</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
